/* generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #6DCEFC;
    font-size: 16px;
}
.container{
    margin-left: 8rem;
    margin-right: 8rem;

}
/* header */
.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    background-color: #493F3F;
    
}
.navbar a{
    display: block;
    color: #FCBC6D;
    
}
.navbar h1{
    font-size: 1.75rem;
    height: 1.75rem;
    font-weight: lighter;
    
}
.navbar span{
    font-size: 2.375rem;
    font-weight: bold;
    height: 2.375rem;
    
}
#filtros a{
    font-size: 1.4375rem;
    color: white;
}
/* secciones */
.sections{
    margin: 1.25rem auto;
    position: relative;
}
.sections h2{
    font-size: 3.625rem;
    font-weight: bolder;
    margin-bottom: 0rem;
}
.sections p{
    margin-top: 0rem;
    font-size: 3rem;
    color: #493F3F;
    width: 37.5rem;
}
/* main */
.container .inicio{
    display: flex;
}
/* search */
.search{
    width: 26.6875rem;
    height: 3.5625rem;
    display: grid;
    grid-template-columns: auto 3.125rem;
    margin-top: 1.25rem ;
    
}
.search input {
    border-left: 0.1875rem solid white;
    border-right: transparent;
    border-top: 0.1875rem solid white;
    border-bottom: 0.1875rem solid white;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: transparent;
    width: 100%;
    padding: 0.625rem;
    
    
}
.search button{
    border-left: transparent;
    border-right: 0.1875rem solid white;
    border-top: 0.1875rem solid white;
    border-bottom: 0.1875rem solid white;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    width: 100%;
    height: 100%;
    background-color: transparent;

    
}
.search button>i{
    /* position: absolute; */
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    margin: auto auto;
}
.search:hover{
    background-color: rgb(112, 189, 224);
}

.search button:hover{
    background-color: rgb(188, 228, 247);
}
/* random button */
#random-button{
    height: 3.5625rem;
    background-color: #FCBC6D;
    border: 0.125rem solid #493F3F;
    border-radius: 0.1875rem;
    width: 8.75rem;
    padding: 0.3125rem;
    text-align: center;
    margin: 0.125rem auto;
    cursor: pointer;
}

#random-button:hover{
    transform: scale(1.1,1.1);
}

.load{
    width: 20px;
    position: absolute;
    left: 27rem;
    bottom: 15px;
    visibility: hidden;
}
.show{
    visibility: visible;
}


/* resultado busqueda */
.inicio_imagenes{
    margin: 1.25rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1.875rem;
    row-gap: 0.625rem;
}
.inicio_imagenes .search_result{
    width:100%;
    margin: auto;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #493F3F;
    border: 0.1875rem solid #493F3F;
    border-radius: 0.3125rem;
    text-align: center;
    padding: 0.3125rem;
    
    
    
}
.inicio_imagenes .search_result span{
    text-transform: uppercase;
    color: #FCBC6D;
    font-weight: bold;
    font-size: 1em;
    display: block;
    overflow: hidden;
    text-overflow:ellipsis ;

}
.inicio_imagenes .search_result img{
    width: 80%;
    height: 12.5rem;
    border-radius: 0.25rem;
    margin-top: 0.3125rem;
    
}
.inicio_imagenes .search_result ul{
    position: relative;
    list-style: none;
    text-transform: capitalize;
    left: 30%;
    text-align: left;
    color: white;
    font-size: 0.9375rem;
    
}